aminclude_static.am
autom4te.cache/

config.log
config.status
config/config.h
config/stamp-h1

coverage/

doc/docs
doc/doxygen.cfg

packaging/control
packaging/postinst
packaging/prerm
packaging/libkim*.pc

src/.deps
src/kim
src/*link

tests/.deps/
tests/*.log
tests/*.trs
tests/test_bounded_size_string
tests/test_fastq_file_reader
tests/test_kim_exception
tests/test_kim_settings
tests/test_kmer_nodes_subindex
tests/test_kmer_variant_edges_subindex
tests/test_sort_helper
tests/test_variant_nodes_index

resources/kim-*.stats
resources/kim-*.cloc
resources/kim-*.filelist
resources/kim-*.ohcount

kim_index/

kim_*.deb
kim-*.tar.gz
libtool
Makefile

*~
*.o
*.lo
*.la
.libs/
*.gcda
*.gcno


