autom4te.cache/

libtool
stamp-h1
Makefile
config.status
config/config.h

lib*-coverage/

doc/docs/
doc/doxygen.cfg
doc/mainpage.dox

packaging/control
packaging/kim*.pc
packaging/postinst
packaging/prerm

resources/kim*.cloc
resources/kim*.filelist
resources/kim*.ohcount
resources/kim*.stats

src/.deps/
src/.libs/
src/kim
src/*link

tests/.deps/
tests/.libs/
tests/*.trs
tests/test_bounded_size_string
tests/test_dna_file_index
tests/test_dna_file_reader
tests/test_fastq_file_reader
tests/test_kim_exception
tests/test_kim_settings
tests/test_kmer_nodes_subindex
tests/test_kmer_variant_edges_subindex
tests/test_kmer_variant_graph
tests/test_sort_helper
tests/test_variant_filter
tests/test_variant_nodes_index

*/ChangeLog

*.la
*.lo
*.log
*.o
*.gcno
*.gcda
*.gcov
*~

kim_index/

kim-*.tar.gz
kim_*.deb

