autom4te.cache/

config.log
config.status
config/config.h
config/stamp-h1

doc/docs
doc/doxygen.cfg

packaging/control
packaging/postinst
packaging/prerm
packaging/libkim*.pc

src/.deps
src/kim
src/*link

tests/.deps/
tests/*.log
tests/*.trs
tests/test_bounded_size_string
tests/test_fastq_file_reader
tests/test_kim_settings
tests/test_sort_helper

resources/kim-*.stats

kim_index/

kim_*.deb
kim-*.tar.gz
libtool
Makefile
*~
*.o
*.lo
*.la
.libs/
*.gcda
*.gcno


